<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Tracker</title>
</head>
<body>
    <h2>Forgot Password...? </h2>
    <header class="main_header">
        <div class="main_header_div">
            <nav class="nav-bar">
                <ul class="item-list">
                    <li class="list-item btn"><a href="" class="link">Home</a></li>
                    <li class="list-item btn"><a href="" class="link">Expanses</a></li>
                    <a href="/signUp" class="getIn btn" class="link">SignUp</a>
                </ul>
            </nav>
        </div>
    </header>
    <div class="centered">
        <section class="form_section centered">
            <div class="form">
                <h2>Forgot Password</h2>
                <form id="form">
                    <input type="email" id="Email" placeholder="Email..."><br>
                    <button id="forget-btn">Send</button><br>
                    <button id="reset">click here to reset password</button>
                </form>
            </div>
        </section>
    </div>
</body>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script type="text/javascript" src="forgetPass.js"></script>
</html>