<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style1.css">
    <title>Tracker</title>
</head>

<body>
    <h1>Expense Tracker</h1>
    <h2 id="username"></h2>
    <h2 id="isPremium"></h2>
    <header class="main_header">
        <div class="main_header_div">
            <nav class="nav-bar">
                <ul class="item-list">
                    <a class="link btn" id="report">Report</a>
                    <a href="http://localhost:3000/login" class="link btn" id="logout">logOut</a>
                    <button id="rzp-button">Go Premium</button>
                </ul>
            </nav>
        </div>
    </header>
    <div class="content">
    <section class="Expanses">
        <div id="leaderBoard"></div>
        <div>
            <table id="Leaderboard_table">
                <tr>
                    <th>Name</th>
                    <th>Total Expense</th>
                </tr>
            </table>
        </div>
    </section>
    </div>
    <div class="content">

        <section class="Expanses">

            <div class="inner_div">
                <div>
                    <div >
                        <h3>Add Expenses</h3>
                        <form id="form">
                            <input type="number" name="Expanse" placeholder="Expanse in Rupees" id="Expanse">
                            <input type="text" name="description" id="description" placeholder="Description...">
                            <select name="category" id="category" class="input">
                                <option value="" disabled selected>Category</option>
                                <option value="Food">Food</option>
                                <option value="Movie">Movie</option>
                                <option value="Fuel">Fuel</option>
                                <option value="Grocery">Grocery</option>
                                <option value="Vegetables">Vegetables</option>
                                <option value="Recharge">Recharge</option>
                                <option value="Furniture">Furniture</option>
                                <option value="Maintainance">Maintainance</option>
                                <option value="InvestMent">InvestMent</option>
                                <option value="Entertainment">Entertainment</option>
                            </select><br>
                            <button type="submit" class="btn">Add Expanse</button>
                        </form>
                    </div>
                    <form id="itemsPerPage"><label class="hide" for="itemsper">item-per-page</label><br><input type="number" for="itemsper" class="inputSize" id="inputperpage"><br><button type="submit">Add</button></form>
                </div>
                <hr>
                <h2 class="ExpanseH2">All Expenses</h2>
                <table width="100%" id="table">
                    <tr class="first_row">
                        <th>category</th>
                        <th>Description</th>
                        <th>Expense</th>
                      </tr>
                </table>
                <div class="pagination">
                    <button id="previous">❮</button>
                    <button id="current">1</button>
                    <button id="next">❯</button>
                </div>
                <div id="totalPage"></div>
            </div>
        </section>
    </div>

</body>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script src="index.js"></script>

</html>

