<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="report.css">
  <title>Report</title>
</head>

<body>
  <h2>Day-To-Day Expanse</h2>
  <h3>year</h3>
  <div class="body_div">Time...</div>
  <div class="body_div" id="Download"><button class="btn">Download Report</button></div>
  <div class="downloadTable">
    <h3>Previous Downloads</h3>
    <table id="links_table">
      <tr class="first_row">
        <th>Date</th>
        <th>Expanse</th>
      </tr>
    </table>
  </div>
</body>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script type="text/javascript" src="report.js"></script>

</html>