<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Tracker</title>
</head>
<body>
    <h1>Expense Tracker</h1>
    <header class="main_header">
        <div class="main_header_div">
            <nav class="nav-bar">
                <ul class="item-list">
                    <li class="list-item btn"><a href="" class="link">Home</a></li>
                    <li class="list-item btn"><a href="" class="link">Expenses</a></li>
                    <a href="/login" class="getIn btn" class="link">Login</a>
                </ul>
            </nav>
        </div>
    </header>
   <div class="content">
    <section class="talk_section">
        <h2>Here You can organise your Expenses with lots of resilient Features. Why wait?</h2>
        <h2>Hurry now!....</h2>
        <h2>Register Yourself Here</h2>
    </section>
    <section class="form_section">
        <div class="form">
            <h2>SignUp</h2>
            <form action="/signUp" method="post">
                <input type="text" name="Name" placeholder="Name..."><br>
                <input type="email" name="Email" placeholder="Email..."><br>
                <input type="password" name="password" placeholder="Password..."><br>
                <button type="submit" class="btn">SignUp</button>
            </form>
        </div>
    </section>
   </div>
</body>
</html>