<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Tracker</title>
</head>
<body>
    <h1>Expanse Tracker</h1>
    <header class="main_header">
        <div class="main_header_div">
            <nav class="nav-bar">
                <ul class="item-list">
                    <li class="list-item btn"><a href="" class="link">Home</a></li>
                    <li class="list-item btn"><a href="" class="link">Expanses</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <h1>User Found</h1>

</body>
</html>